.section-medical-facility {
  position: relative;
  overflow: hidden;
}

.section-medical-facility .bg-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.section-medical-facility .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu overlay khi hover */
  opacity: 0; /* Ban đầu ẩn */
  transition: opacity 0.3s ease;
}

.section-medical-facility:hover .overlay {
  opacity: 1; /* Hiển thị overlay khi hover */
}

.clinic-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
