/* Header Container */
.center-content{
  color: #fff;
  height: 40px;
}
.home-header-container {
  position:p;
  top: 0;
  left: 0;
  width: 100%;
 
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}


/* Header Content */
.home-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo */
.header-logo {
  width: 100px;
  height: 50px;
 
  cursor: pointer;
}

.header-logo:hover {
  opacity: 0.8;
}

/* Menu */
.menu-home-header {
  margin-right: 20px;
}

/* Navigation Links */
.left-content,
.center-content,
.right-content {
  display: flex;
  align-items: center;
}

.child-content {
  margin-right: 20px;
}

.subs-title {
  font-size: 14px;
  color: #f1eaea;
}

/* Support */
.support {
  margin-right: 20px;
  color: #555;
  cursor: pointer;
}

.support:hover {
  opacity: 0.8;
}

/* Language Selector */
.language-vi,
.language-en {
  margin-right: 10px;
  cursor: pointer;
}

.language-vi.active,
.language-en.active {
  font-weight: bold;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search input {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #f1f1f1; /* Màu nền của ô tìm kiếm */
}

.search input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng khi ô tìm kiếm được focus */
}

.search i {
  margin-right: 5px;
}

/* Language Selector Text */
.language-vi span,
.language-en span {
  font-weight: bold;
}

.language-vi.active span,
.language-en.active span {
  color: #007bff;
}

.language-vi span:hover,
.language-en span:hover {
  color: #007bff;
}

.language-vi.active span:hover,
.language-en.active span:hover {
  color: #0056b3;
}

/* Menu Toggle Icon */
.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .left-content,
  .center-content,
  .right-content {
    display: none;
  }
  
  .menu-toggle {
    display: block;
  }
}
