.home-header-container {
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000; /* Đảm bảo header luôn ở trên cùng */
  background-color: transparent; /* Nền trong suốt */
}

.black-bg {
  background-color: rgba(0, 0, 0, 0.7); /* Nền đen mờ khi cuộn xuống */
}

.home-header-content {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-content {
  display: flex;
  align-items: center;
}

.menu-home-header {
  margin-right: 20px;
}

.header-logo {
  width: 100px; /* Kích thước logo */
  height: 50px;
  background-image: url('/assets/logo.svg'); /* Đường dẫn đến logo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header-logo:hover {
  opacity: 0.8;
}

.center-content {
  display: flex;
  align-items: center;
}

.child-content {
  margin-right: 20px;
}

.subs-title {
  font-size: 14px;
  color: #f1eaea; /* Màu của tiêu đề */
}

.right-content {
  display: flex;
  align-items: center;
}

.support {
  margin-right: 20px;
  color: #555; /* Màu chữ */
  cursor: pointer;
}

.support:hover {
  opacity: 0.8;
}

.language-vi,
.language-en {
  margin-right: 10px;
  cursor: pointer;
}

.language-vi.active,
.language-en.active {
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #f1eeee;
  border-radius: 5px;
  outline: none;
  background-color:#343a40; /* Nền trong suốt */
  color: #fff; /* Màu chữ trắng */
}

.search input:focus {
  border-color: #007bff;
}

.search i {
  margin-right: 5px;
}

.language-vi span,
.language-en span {
  font-weight: bold;
}

.language-vi.active span,
.language-en.active span {
  color: #007bff;
}

.language-vi span:hover,
.language-en span:hover {
  color: #007bff;
}

.language-vi.active span:hover,
.language-en.active span:hover {
  color: #0056b3;
}
