.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 8px;
  }
  
  .search input[type="text"] {
    border: none;
    outline: none;
    margin-left: 8px;
    width: 100%;
   
  }
  
  .search i {
    color: #666;
  }
  